/* CUSTOM PROPERTIES */
:root {
  --bg-green: #009688;
  --bg-grey: #d9dbd4;
  --lightgrey: #eaeaea;
  --lightblue: #8edafc;
  --lightgreen: #d5f9ba;
  --grey:#b1b1b1;
  --darkgrey: #6b7376;
  --beige: #f3eeea;
}

/* GENERAL PROPERTIES */
body {
  background: linear-gradient(var(--bg-green) 15vh, var(--bg-grey) 15vh);
  height: 98vh;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

/* STRUCTURE PAGE */
.container-gg {
  background-color: rgb(255, 255, 255);
  width: 95%;
  max-width: 1320px;
  height: 98%;
  margin: 2vh auto;
}

#sidebar {
  width: 35%;
}

.chat {
  width: 65%;
  background-color: cadetblue;
}

/* SIDEBAR */
/* TOP SIDEBAR */
.top-user {
  background-color: var(--lightgrey);
  height: 60px;
  border-right: 1px solid var(--grey);
}

.top-user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.top-user-icon a i,
.header-chat-right i {
  font-size: 1.2rem;
  margin-right: 12px;
  color: var(--grey);
}

.top-notifications {
  background-color: var(--lightblue);
  height: 70px;
}

.top-notifications i {
  background-color: white;
  color: var(--lightblue);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}

.notifications-desktop a{
  font-size: 0.7rem;
  color: var(--darkgrey);
  text-decoration: underline;
}

.searchbar {
  background-color: #fafafa;
  border-bottom: 1px solid var(--bg-grey);
}

.searchbar i,
.searchbar input {
  color: var(--grey);
}

/* BOTTOM SIDEBAR */
.bottom {
  background-color: white;
  height: 70%;
  overflow: auto;
}


.chat-user {
  border-bottom: 1px solid var(--grey);
}

.active,
.chat-user:hover {
  background-color: var(--lightgrey);
  cursor: pointer;
}

.chat-user-img img,
.header-chat-user-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-user-info .last-message,
.chat-user-right .message-date {
  font-size: 0.7rem;
  color: var(--grey);
}
/* /SIDEBAR */

/* SECTION CHAT */
.header-chat {
  height: 60px;
  background-color: var(--lightgrey);
}

.main-chat {
  height: calc(100% - 120px);
  background-image: url(/img/mine.jpg);
  overflow: scroll;
  padding: 20px 50px;
}

.footer-chat {
  background-color: var(--beige);
  height: 60px;
  color: var(--darkgrey);
}

/* HEADER-CHAT */
.header-chat-user-info .last-access {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--grey);
}

/* MAIN-CHAT */
.box-message {
  margin-bottom: 10px;
}

.text {
  min-width: 40%;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  font-size: 0.9rem;
}

.dropstart {
  position: absolute;
  top: 2%;
  right: 2%;
}


.btn-chevron {
  background-color: transparent;
  border: none;
  display: none;  
  color: var(--grey)
}

.btn-chevron:hover {
  display: block;
}

.text:hover button {
  display: inline-block;
}

.sent {
  background-color: var(--lightgreen); 
}

.received {
  background-color: white;
}

.message-time {
  color: var(--grey);
  font-size: 0.6rem;
  font-weight: bold;
  position: absolute;
  bottom: 5%;
  right: 2%;
}

/* FOOTER-CHAT */
.footer-chat a i {
  font-size: 1.3rem;
  color: var(--darkgrey);
}